<!DOCTYPE html>
<html lang="en">

<head>
  <!-- font awesome -->
  <script src="https://kit.fontawesome.com/69669aff9d.js" crossorigin="anonymous"></script>
  <!-- bootstrap 4 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title %>
  </title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&family=Ubuntu&display=swap');

    body {
      margin: 0;
      padding: 0;
      background-color: #f6f4f4;
      font-family: 'Ubuntu', sans-serif;
    }

    .table {
      padding: 10px;
      background-color: #fafeff;
    }

    tr:hover {
      background-color: #efefef;
    }

    .header{
      margin-bottom: 4rem;
    }

    .txt {
      width: 100px;
    }

    .table-data {
      margin: 0 auto;
      background: #fff;
      box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
      -webkit-box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
      -o-box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
      -ms-box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
      border-radius: 20px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      -o-border-radius: 20px;
      -ms-border-radius: 20px;
    }
  </style>

</head>

<body>
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Category</h4>
          <button type="button" class="close text-danger" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" />
            </div>
            <div class="form-group">
              <label for="status">status:</label>
              <select name="status" id="status">
                <option value="Y">Active</option>
                <option value="N">Non-active</option>
              </select>
            </div>
            <button type="button" class="btn btn-success btn_add">
              Save
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- end Model -->
  <% include ./partials/Navbar.ejs %>

    <div class="container header">
      <h1 class="text-center mt-4">Category Section</h1>
      <div class="header-button">
        <button type="button" class="btn btn-primary float-right rounded" data-toggle="modal" data-target="#myModal">
          Add Category
        </button>
      </div>
    </div>

    <div class="container table-data table-responsive">
      <table class="table tbl_category pt-3">
        <thead>
          <tr>
            <th>Name</th>
            <th>status</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i< categoryList.length;i++){%>
            <tr>
              <td class="name">
                <%= categoryList[i].name%>
              </td>
              <td class="status">
                <%= categoryList[i].status%>
              </td>
              <td>
                <button type="button" class="btn btn-success btn_edit far fa-edit"
                  value="<%=categoryList[i]._id%>"></button>
              </td>
              <td>
                <button type="button" class="btn btn-danger btn_delete" value="<%=categoryList[i]._id%>"><i
                    class="far fa-trash-alt"></i></button>
              </td>
            </tr>
            <%}%>
        </tbody>
      </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/categoryScript.js"></script>
    <script src="js/logoutScript.js"></script>
</body>

</html>