<!DOCTYPE html>
<html lang="en">

<head>
  <!-- font awesome -->
  <script src="https://kit.fontawesome.com/69669aff9d.js" crossorigin="anonymous"></script>
  <!-- bootstrap 4 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title %>
  </title>
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: #f6f4f4;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .table {
      margin-top: 25px;
      padding: 10px;
      background-color: #fafeff;
    }

    tr:hover {
      background-color: #efefef;
    }
  </style>
</head>

<body>
  <!-- Model -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Product</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="category">select category:</label>
              <select name="category" id="category">
                <%for(var i=0; i< categoryList.length;i++){%>
                  <option value="<%=categoryList[i]._id%>">
                    <%=categoryList[i].name%>
                  </option>
                  <%}%>
              </select>
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" />
            </div>
            <div class="form-group">
              <label for="qty">Quantity:</label>
              <input type="number" class="form-control" id="qty" />
            </div>
            <div class="form-group">
              <label for="price">Price:</label>
              <input type="number" class="form-control" id="price" />
            </div>
            <div class="form-group">
              <label for="discount">Discount:</label>
              <input type="number" class="form-control" id="discount" />
            </div>
            <button type="button" class="btn btn-default btn_add">
              Save
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- end Model -->
  <div class="container">
    <button type="button" class="btn btn-info btn_logout float-right">Logout
    </button>
    <h1 class="text-center mt-4">Product Section</h1>
    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#myModal">
      Add Product
    </button>
    <form class="locationform my-3" enctype="multipart/form-data">
      <input style="display: inline" type="file" accept=".csv" class="btn btn-outline-primary locationfile"
        name="products" value="Import CSV" />
      <input type="button" class="btn btn-info btn_csv_loc mx-1" value="Upload" />
    </form>
  </div>
  <div class="container">
    <%if(product && product.length>0){%>
      <table class="table">
        <thead>
          <tr>
            <th>Category</th>
            <th>Name</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Actual Price</th>
            <th>Total Amount</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i< product.length;i++){%>
            <tr>
              <%if(product[i].categoryId){%>
                <td class="<%= product[i].categoryId._id%>">
                  <%= product[i].categoryId.name%>
                </td>
                <%}else{%>
                  <td class="">NA</td>
                  <%}%>
                    <td class="name">
                      <%= product[i].name%>
                    </td>
                    <td class="qty">
                      <%= product[i].qty%>
                    </td>
                    <td class="price">
                      <%= product[i].price%>
                    </td>
                    <td class="discount">
                      <%= product[i].discount%>
                    </td>
                    <td class="actualprice">
                      <%=product[i].actualPrice%>
                    </td>
                    <td class="actualprice">
                      <%=product[i].totalAmount%>
                    </td>
                    <td>
                      <button type="button" class="btn btn-success far fa-edit btn_edit" value="<%=product[i]._id%>">
                      </button>
                    </td>
                    <td>
                      <button type="button" class="btn btn-danger btn_delete far fa-trash-alt"
                        value="<%=product[i]._id%>">
                      </button>
                    </td>
            </tr>
            <%}%>
        </tbody>
      </table>
      <%}else{%>
        <h3 class="text-center">No product available</h3>
        <%}%>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="js/productScript.js"></script>
</body>

</html>